@font-face {
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/TTNorms-Regular.eot');
	src: url('fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'), 
	   url('fonts/TTNorms-Regular.woff') format('woff'),
	   url('fonts/TTNorms-Regular.ttf')  format('truetype'),
	   url('fonts/TTNorms-Regular.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/TTNorms-Medium.eot');
	src: url('fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'), 
	   url('fonts/TTNorms-Medium.woff') format('woff'),
	   url('fonts/TTNorms-Medium.ttf')  format('truetype'),
	   url('fonts/TTNorms-Medium.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/TTNorms-Bold.eot');
	src: url('fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'), 
	   url('fonts/TTNorms-Bold.woff') format('woff'),
	   url('fonts/TTNorms-Bold.ttf')  format('truetype'),
	   url('fonts/TTNorms-Bold.svg#svgFontName') format('svg');
}

:root {
	--amount: 0;
	--startvalue: 0;
	--endvalue: 1;
	
	--sand: #E2C29C;
	--soil: #6C6155;
	--orange: #F0BD6B;
	--steel: #475C75;
	--steelette: #868DA1;
	--november: #969EAC;
	--cloud: #EFEEF3;
	--ice: #e7e8ea;
	--snow: #F9F8FA;
	
	--active: var(--orange);
	--link: #3999e5;
	--link-hover: #59a9ff;
	
	--floating: 0 .25em .5em rgba(0,0,0,.1);
}

.image {
	background: var(--ice);
}

body {
	background: var(--snow);
	color: var(--steel);
	font-family: "TT Norms", -apple-system, sans-serif;
	font-size: 1;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

@media (min-width:60em) {
	body {
		font-size: 1.125em;
	}
}

h1,
h2 {
	font-family: presicav, "TT Norms", sans-serif;
	font-size: 1.45em;
	font-weight: bold;
	line-height: 1.15;
}

h2 {
	font-size: 1.15em;
	font-weight: bold;
	letter-spacing: .05em;
	margin: 2em 0;
}

h3 {
	font-size: 1em;
	letter-spacing: .05em;
	line-height: 1.15;
	margin: .5em 0 .25em;
	text-transform: uppercase;
}

nav ul {
	font-size: .8em;
	font-weight: 500;
	list-style: none;
	letter-spacing: .1em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

nav li {
	font-weight: bold;
}

nav a {
	color: inherit;
	font-weight: normal;
}

.section {
	min-height: 50vh;
	padding: 4em 5%;
}

.section > h2:first-child {
	margin-top: 0;
}

a {
	color: var(--link);
	text-decoration: none;
	transition: all .3s ease-out;
}

a:hover {
	color: var(--link-hover);
}

a:active {
	color: var(--active);
}


.front-matter {
	background: var(--ice) url(img/Korvaa-main-01@0,75x.jpg) no-repeat center top;
	background-size: cover;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 60em;
	min-height: 100vh;
}

.page-title {
	margin: 1em 0 7em;
	max-width: 18em;
}

@media (min-width:40em) {

	.page-title {
		white-space: pre-line;
	}

	.front-matter {
		background-image: url(img/Korvaa-main-01.jpg);
		background-position: left center;
	}
}

@media (min-width:120em), (-webkit-min-device-pixel-ratio: 2) and (min-width:60em) {
	.front-matter {
		background-image: url(img/Korvaa-main-01@2x.jpg);
	}
}

.logo {
	background: url(img/logo.svg) no-repeat left bottom;
	background-size: contain;
	flex: 0 1 auto;
	font-size: 1.5em;
	letter-spacing: .3em;
	margin: 0 0 .5em;
	max-width: 6em;
	min-width: 5em;
	overflow: hidden;
	text-indent: 110%;
	text-transform: uppercase;
	width: 15%;
}

.site-header {
	margin-bottom: 1em;
}

.site-header nav {
	flex: 1 1 auto;
}

.site-header nav ul {
	display: flex;
	justify-content: flex-start;
}

.site-header nav li {
	margin: 2%;
}

.site-header nav li:first-child {
	margin-left: 0;
}

.site-header nav li:last-child {
	margin-right: 0;
}

@media (min-width:30em) {
	.site-header {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
	}
	
	.logo {
		margin-bottom: 1em;
	}

	.site-header nav ul {
		justify-content: flex-end;
	}
}

.on-display {
	align-self: flex-end;
	box-shadow: var(--floating);
	max-width: 35em;
}

@media (min-width:30em) {
	.on-display {
		min-width: 17em;
		width: 30%;
	}
}

.on-display ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.on-display h3 {
	font-family: presicav, "TT Norms", sans-serif;
	font-weight: bold;
	margin: 0;
}

.on-display li {
	background: var(--steelette);
	color: var(--snow);
	margin: 0;
	padding: .5em 1em;
}

.on-display li:first-child {
	background: var(--snow);
	color: var(--steel);
}

blockquote {
	margin: 10% auto;
	max-width: 40em;
	min-width: 12em;
	padding: 0;
	text-align: center;
}

@media (min-width:55em) {
	.quotefest {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	blockquote {
		margin: 5%;
		width: 40%;
	}
}

blockquote p {
	font-size: 1.25em;
	margin: 1em auto;
	max-width: 20em;
}

blockquote cite,
blockquote time {
	font-size: .8em;
	font-style: normal;
	font-weight: 500;
	letter-spacing: .07em;
	text-transform: uppercase;
}

blockquote cite::after {
	content: ", ";
}

blockquote cite::before {
	content: "– ";
}

blockquote p::before {
	content: "“";
	margin-left: -.35em;
}

blockquote p::after {
	content: "”";
}

.media-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0 auto 3em;
	max-width: 40em;
	padding: 0;
	width: 90%;
}

.media-list li {
	flex: 1 1 auto;
	height: 5em;
	margin: 2%;
	min-width: 5em;
	width: 26%;
}

.media-list img,
.partners-list img {
	height: auto;
	opacity: .5;
	transition: all .75s ease-out;
	width: 100%;
}

.media-list:hover img,
.partners-list:hover img {
	will-change: opacity, transform;
}

.media-list a:hover img,
.partners-list a:hover img {
	opacity: .8;
	transform: scale(1.025);
}

.text p {
	max-width: 25em;
}

.image picture,
picture img {
	height: auto;
	width: 100%;
}

.full img,
.image img {
	display: block;
	height: auto;
	width: 100%;
}

picture.full {
	height: 100vw;
	width: 100vw;
}

@media (min-width:50em) {
	picture.full {
		height: 66.666vw;
	}
}

.pull-quote {
	background: rgba(255,255,255,.2);
	font-family: presicav, "TT Norms", sans-serif;
	font-size: 2.2em;
	font-weight: bold;
	line-height: 1.4;
	margin: 3em -5.5% -1.8181em;
	padding: inherit;
}

.biology .pull-quote {
	background: rgba(255,255,255,.4);
}

@media (min-width:40em) {
	.pull-quote {
		padding-right: calc(5em + 10%);
	}
}

.section {
	position: relative;
}

@media (min-width:60em) {
	.text p {
		max-width: 45%;
	}
	
	.pull-quote {
		box-sizing: border-box;
		bottom: 0;
		display: flex;
		flex-direction: column;
		font-size: 1.75em;
		justify-content: center;
		margin: 0;
		padding: 4em 5%;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 50%;
	}
	
	.alt {
		padding-left: 55%;
		padding-right: 5%;
	}
	
	.alt p {
		max-width: 100%;
	}
	
	.alt .pull-quote {
		left: 0;
		right: auto;
		padding: 4em 10%;
	}
}

@media (min-width:40em) {
	.image {
		height: 66vw;
	}
}

.headset {
	background: #E7E6EC url(img/Korvaa-main-02-square.jpg) no-repeat left bottom;
	background-size: 100%;
	padding-bottom: 100vw;
}

@media (min-width:35em), (-webkit-min-device-pixel-ratio: 2) and (min-width:20em) {
	.headset {
		background-image: url(img/Korvaa-main-02-square@2x.jpg);
	}
}

@media (min-width:50em) {
	.headset {
		background-image: url(img/Korvaa-main-02@0,75x.jpg);
		background-position: 30em top;
		background-size: auto 100%;
		padding-bottom: 4em;
	}
	
	.headset p {
		max-width: 25em;
	}
}

@media (min-width:85em), (-webkit-min-device-pixel-ratio: 2) and (min-width:50em) {
	.headset {
		background-image: url(img/Korvaa-main-02.jpg);
	}
}

@media (min-width:100em), (-webkit-min-device-pixel-ratio: 2) and (min-width:80em) {
	.headset {
		background-image: url(img/Korvaa-main-02@2x.jpg);
	}
}

.materials {
	background: var(--november) no-repeat;
}

@media (min-width:50em) {
	.materials {
		background-image: url(img/Korvaa-main-03-v2@0,75x.jpg);
		background-position: left 4em;
		background-size: 60% auto;
		padding-bottom: 4em;
	}
}

@media (min-width:100em), (-webkit-min-device-pixel-ratio: 2) and (min-width:50em) {
	.headset {
		background-image: url(img/Korvaa-main-02.jpg);
	}
}

@media (min-width:100em), (-webkit-min-device-pixel-ratio: 2) and (min-width:80em) {
	.headset {
		background-image: url(img/Korvaa-main-02@2x.jpg);
	}
}

.materials h2 {
	color: var(--cloud);
}

.materials .bookmarks,
.materials-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.materials-list > li {
	background: rgba(255,255,255,.6);
	box-sizing: border-box;
	margin-bottom: 4em;
	margin-left: 2em;
	padding: 2em;
}

.materials-list img {
	box-shadow: var(--floating);
	height: auto;
	margin-left: -4em;
	margin-top: 1em;
	width: 80%;
}

.materials-list > li:nth-child(even) {
	margin-left: 0;
	margin-right: 2em;
}

.materials-list li:nth-child(even) img {
	margin-left: 0;
	margin-right: -4em;
}

.materials-list .description div {
	font-size: .7em;
	font-weight: 500;
	letter-spacing: .1em;
	margin-top: 3em;
}

.components {
	display: none;
}

@media (min-width:30em) {
	.materials-list > li {
		margin-left: 25%;
	}
	
	.materials-list img {
		margin-left: -40%;
		width: 120%;
	}
	
	.materials-list > li:nth-child(even) {
		margin-right: 25%;
	}
	
	.materials-list li:nth-child(even) img {
		margin-right: -40%;
	}
}

@media (min-width:70em) {
	.materials-list > li {
		margin-left: -15%;
		padding: 10% 15%;
	}

	.materials-list img {
		width: 130%;
	}
}

@media (min-width:50em) and (max-width: 70em) {
	.materials-list {
		margin-left: -10em;
		min-width: 30em;
	}
}

@media (min-width:50em) {
	
	.materials.inside {
		background-attachment: fixed;
	}
	
	.materials.outside {
		background-position: left bottom;
	}
	
	.materials h2 {
		left: 5%;
		position: absolute;
		top: 3.5em;
	}
	
	.materials.inside h2 {
		position: fixed;
	}

	.components {
		display: block;
		height: 50vh;
		margin: 0;
		width: 100%;
	}
	
	.bookmarks {
		height: 100%;
		position: relative;
	}
	
	.bookmarks li {
		height: 3em;
		margin: -1.5em;
		overflow: hidden;
		position: absolute;
		text-align: center;
		width: 3em;
	}
	
	.bookmarks li:nth-child(1) {
		left: 32%;
		top: 60%;
	}
	
	.bookmarks li:nth-child(2) {
		left: 35%;
		top: 43%;
	}
	
	.bookmarks li:nth-child(3) {
		left: 41%;
		top: 53%;
	}
	
	.bookmarks li:nth-child(4) {
		left: 25%;
		top: 30%;
	}
	
	.bookmarks li:nth-child(5) {
		left: 17%;
		top: 60%;
	}
	
	.bookmarks a::before,
	.bookmarks a::after {
		background: rgba(255,255,255,.5);
		border: 2px solid white;
		border-radius: 50%;
		content: "";
		display: block;
		height: 2em;
		margin: .5em auto;
		transition: background-color .3s ease-out;
		width: 2em;
	}
	
	.bookmarks a::after {
		background: white;
		border: none;
		height: .75em;
		margin-top: -3.5em;
		width: .75em;
	}
	
	.bookmarks .current a::before {
		background-color: var(--orange);
		box-shadow: 0 .0625em .25em var(--orange);
	}
	
	.bookmarks a:hover::before {
		background-color: var(--active);
	}
	
	.materials-list > li {
		width: auto;
	}

	.materials-list img {
		height: auto;
		margin-left: -2em;
		width: 100%;
	}
}

.materials .directional {
	display: none;
}

.directional button {
	background: none;
	border: none;
	font-size: 1em;
	height: 3em;
	overflow: hidden;
	text-align: center;
	width: 3em;
	-webkit-appearance: none;
}

.directional button::before {
	background:  url(img/arrow-next.svg) no-repeat center top;
	background-size: auto 90%;
	content: "";
	display: block;
	height: 100%;
	margin: 0 0 5em;
}

.directional .prev::before {
	background-image: url(img/arrow-prev.svg);
	content: "";
	font-size: 1.5em;
}

.directional button:active::before {
	background-position: center 2px;
}

.materials-list h3 {
	font-family: presicav, "TT Norms", sans-serif;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: .125em;
	line-height: 1.3;
	margin-bottom: .5em;
	text-transform: none;
}

.materials-list div b {
	display: block;
	font-weight: bold;
}

/*@media (min-width:50em) {
	.materials {
		box-sizing: border-box;
		height: 50vw;
		padding-left: 50%;
		padding-top: 0;
		position: relative;
	}
	
	.components {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 50%;
	}
	
	.materials-list {
		height: 100%;
		overflow: auto;
		position: relative;
		scroll-snap-type: proximity;
	}
	
	.materials-list li {
		min-height: 90%;
		padding-top: 10%;
		scroll-snap-align: start;
	}
}*/

@media (min-width:50em) {
	
	.js .materials {
		padding-left: 45%;
		position: relative;
	}
	
	.js .components {
		left: 0;
		min-height: 75vw;
		position: absolute;
		top: 4em;
		width: 50%;
	}
	
	.js .scroller .inside .components {
		position: fixed;
	}
	
	.js .scroller .outside .components {
		bottom: 0;
		top: auto;
	}
	
	.js .scroller .materials-list li {
		margin: 0 0 10vh 5%;
		overflow: visible;
		padding-top: 2em;
		min-height: 10em;
	}
}

@media (min-width:50em) {
	
	.js .stepper .materials-list {
		display: flex;
		height: 100%;
		min-height: 40em;
		overflow-x: hidden;
		padding: 0 10%;
		position: relative;
		width: auto;
	}
	
	.js .stepper {
		min-height: 60vw;
		overflow: hidden;
	}
	
	.js .stepper .materials-list li {
		box-shadow: var(--floating);
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		height: auto;
		left: 5%;
		margin: 3em 0 0 0;
		position: absolute;
		top: 0;
		transform: translateX(150%);
		transition: transform .5s ease-out;
		width: 90%;
	}
	
	.js .stepper .materials-list li.current {
		transform: translateX(0);
	}
	
	.stepper .materials-list li img {
		height: auto;
		margin: -6em auto 1em;
		order: -1;
		width: 90%;
	}
	
	.stepper .directional {
		display: flex;
		justify-content: space-between;
		position: absolute;
		right: 2%;
		top: 50%;
		width: 74.5%;
	}
}

@media (min-width:70em) {
	.stepper .materials-list {
		margin-top: 10%;
	}
	
	.stepper .materials-list li img {
		margin: -6em -7.5% 1em;
		width: 115%;
	}
	
	.stepper .directional {
		width: 56%;
	}
}

.initiative,
.design {
	background: var(--sand);
	color: var(--soil);
}

.biology {
	background: var(--cloud);
}

.team {
	text-align: center;
}

.team p {
	margin: 1em auto;
}

.team-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3em auto 2em;
	max-width: 90%;
	padding: 0;
}

@media (min-width:50em) {
	.team-members {
		max-width: 85%;
	}
	
	.team-members li {
		min-width: 16%;
	}
}

.team-members li {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	font-size: .7em;
	letter-spacing: .07em;
	margin: 0 1.5% 3em;
	text-align: center;
}

.team-members h3 {
	font-weight: bold;
	letter-spacing: .1em;
}

.team-members .affiliation,
.team-members .org {
	display: block;
	font-weight: 500;
	line-height: 1.15;
	margin-top: .333em;
}

.team-members .affiliation::after {
	content: ",";
}

.team-members li img {
	order: -1;
	height: auto;
	margin-bottom: 1em;
	opacity: .7;
	width: 7em;
}

@media (min-width:50em) {
	.team-members li img {
		width: 10em;
	}
}

.footer {
	padding-top: 0;
	min-height: 7em;
}

.partners-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.partners-list li {
	margin: 0 1%;
	max-width: 7em;
	min-width: 4em;
	width: 8%;
}

/* ! Press -------------------------------------------------- */

.press-contacts {
	list-style: none;
	margin: 4em 0;
	padding: 0;
}

.press-contacts li {
	margin: 2em 0;
	max-width: 20em;
}

.press-contacts b {
	display: block;
}

.press-contacts h3 {
	margin: 1.5em 0 .75em;
}

.press-contacts .org {
	font-size: .85em;
	font-weight: 500;
	letter-spacing: .075em;
	margin: .25em 0 .5em;
	text-transform: uppercase;
}

@media (min-width:50em) {
	.press-contacts {
		display: flex;
		justify-content: space-between;
	}
	.press-contacts li {
		flex: 1;
		margin: 3%;
	}
}

@media (min-width:60em) {
	.press-contacts {
		justify-content: flex-end;
	}
}